---
apiVersion: v1
kind: ImageStream
metadata:
  name: nodejs-10
  namespace: {{ project_name }}
spec:
  lookupPolicy:
    local: true
  tags:
  - from:
      kind: ImageStreamTag
      name: nodejs:10
      namespace: openshift
    importPolicy: {}
    name: "1"
    referencePolicy:
      type: Local
---
apiVersion: v1
kind: ImageStream
metadata:
  name: "{{ name }}"
  namespace: {{ project_name }}
spec:
  lookupPolicy:
    local: false
---
apiVersion: v1
kind: BuildConfig
metadata:
  name: "{{ name }}-{{ env }}"
  namespace: {{ project_name }}
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: "{{ name }}:{{ version }}"
  postCommit: {}
  resources:
    requests:
      cpu: 1
      memory: 2Gi
    limits:
      cpu: 2
      memory: 4Gi
  source:
    git:
      uri: "{{ source_repo_url }}"
      ref: "{{ source_repo_branch }}"
    contextDir: ""
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: nodejs-10:1
    type: Source
  triggers:
  - type: ConfigChange
  - imageChange: {}
    type: ImageChange